.bg-image {
  background-image: url("/assets/images/bg-noise.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  background-color: #e1e1d8;
}
